<launch>
  
  <arg name="rviz" default="true" />

  <param name="tag_size" type="double" value="0.096" />
  <node pkg="apriltag" type="apriltag_video" name="apriltag_video" output="screen" />

  <node pkg="apriltag" type="apriltag_demo" name="apriltag_demo" output="screen" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find apriltag)/rviz/config.rviz" />

  <node pkg="rosbag" type="play" name="player" output="screen"/>

  <node required="false" pkg="rosbag" type="play" name="rosbag_player"
        args="$(arg publish_clock) $(arg bag_file) -r 1.0 -s 0.0"
        launch-prefix="bash -c 'sleep $(arg wait_time); $0 $@' "/>

</launch>